extends ../layout 

block content 
    if error 
        p(class="error", style="color:red;")= error
    form(action="/aceitunas", method="post")
        label(for="tipo") Tipo
        input(type="text", name="tipo")
        label(for="peso") peso 
        input(type="number", name="peso", min="0", max="255")
        input(type="submit", value="Crear")  
